<div class="authentication">
    <div class="container">
        <div class="modal__signin">
            <h2 class="modal__subtitle">Já tem conta?</h2>
            <form id="form-signin">
                <label for="email-signin">Email</label>
                <input type="email" id="email-signin" />
                <label for="password-signin">Password</label>
                <input type="password" id="password-signin" />
                <button type="submit" class="btn btn-dark">Entrar</button>
            </form>
        </div>
        <div class="modal__signup">
            <h2 class="modal__subtitle">Ainda não tem conta?</h2>
            <form id="form-signup">
                <label for="name-signup">Nome</label>
                <input type="text" id="name-signup" />
                <label for="email-signup">Email</label>
                <input type="email" id="email-signup" />
                <label for="password-signup">Password</label>
                <input type="password" id="password-signup" />
                <button type="submit" class="btn btn-dark">Registar</button>
            </form>
        </div>
    </div>
</div>
   

