<main>
  <section class="hero">
    <div class="container">
      <h1>Evento</h1>
      <p><strong>Data:</strong> 25/10/2003</p>
      <a
        href="https://www.slbenfica.pt/pt-pt/loja/bilhetes/estadio-e-museu/visitas/visita"
        class="btn btn-light"
        >Comprar Bilhetes</a
      >
    </div>
  </section>
  <section class="about">
    <div class="container">
      <h2>Informações</h2>
      <p>
        <strong>Descrição:</strong> Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quis hic, dolore veniam minus enim assumenda quos!
        Quas earum suscipit ea quibusdam eaque, a commodi quod dolores nulla sed
        corporis atque rem neque provident officia tempora pariatur voluptatem
        mollitia, commodi doloremque tempora neque adipisci quibusdam laborum ab
        similique eaque ea quos numquam expedita, error tenetur iure. Sed dolore
        laudantium quos quaerat iusto animi velit saepe soluta, dolorem quasi,
        consectetur veritatis? Necessitatibus eos similique et velit
        consectetur, placeat soluta nemo aperiam ab? Facere sint explicabo esse
        officiis sed, ut nihil soluta incidunt, praesentium repellendus iure
        obcaecati eum fugit eligendi. Quia, repudiandae minus laborum amet fugit
        magnam vel? Quas ipsa consequuntur unde delectus ad libero soluta
        dolorum animi facere! Iste, cum? Exercitationem dignissimos labore
        distinctio. Blanditiis ab quaerat obcaecati sequi. Beatae, nisi expedita
        laborum nostrum similique aliquid amet eveniet nobis molestias ab est id
        ipsam incidunt perferendis obcaecati nam. Sunt quas dolorem, quibusdam
        autem minima magnam!
      </p>
      <p></p>
    </div>
  </section>
</main>
