main {
	.hero {
		background-color: #333;
		background-image: url('../../../../assets/media/images/home/home-hero-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-blend-mode: overlay;
		background-attachment: fixed;

		.container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 75vh;
		}

		h1 {
			margin-bottom: 15px;
			color: #fff;
			font-size: 4.5rem;
			font-weight: 500;
			line-height: 1.2;
			max-width: 25ch;
		}

		p {
			color: #fff;
			font-size: 1.125rem;
		}

		.btn {
			margin-top: 30px;
		}
    }
}
.about {
    font-size: 1.5rem;
    background-color: #f9f9f9;

    .container {
        padding-block: 60px;
    }
}