<main>
    <section class="hero">
        <div class="container">
            <h1>Evento</h1>
            <p>Olá</p>
            <a routerLink="/tickets" class="btn btn-dark">Comprar Eventos</a>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <p>Musewww é um sistema organizado de museus, baseado na adesão voluntária, configurado de forma progressiva e que visa a descentralização, a mediação, a qualificação e a cooperação entre museus. A riqueza do seu universo reside na diversidade de tutelas, de coleções, de espaços, de atividades educativas e culturais, de modelos de relação com as comunidades e de sistemas de gestão.</p>
        </div>
    </section>
</main>

