<section class="museums" id="museus">
    <div class="container">
        <div class="museum">
            <img src="../../../../assets/media/images/museums/museu-de-arte-antiga.jpg" alt="" class="museum__image" />
            <h2 class="museum__name">Museu de Arte Antiga</h2>
            <p class="museum__category">Museu de arte</p>
            <a routerLink="/museum" class="btn btn-dark">Ver Museu</a>
        </div>
        <div class="museum">
            <img src="../../../../assets/media/images/museums/museu-do-azulejo.jpg" alt="" class="museum__image" />
            <h2 class="museum__name">Museu do Azulejo</h2>
            <p class="museum__category">Museu de arte</p>
           <a routerLink="/museum" class="btn btn-dark">Ver Museu</a>
        </div>
        <div class="museum">
            <img src="../../../../assets/media/images/museums/museu-dos-coches.jpg" alt="" class="museum__image" />
            <h2 class="museum__name">Museu dos Coches</h2>
            <p class="museum__category">Museu de transportes</p>
           <a routerLink="/museum" class="btn btn-dark">Ver Museu</a>
        </div>
        <div class="museum">
            <img src="../../../../assets/media/images/museums/museu-ferroviário.jpg" alt="" class="museum__image" />
            <h2 class="museum__name">Museu Ferroviário</h2>
            <p class="museum__category">Museu de transportes</p>
           <a routerLink="/museum" class="btn btn-dark">Ver Museu</a>
        </div>
        <div class="museum">
            <img src="../../../../assets/media/images/museums/museu-cosme-damião.jpg" alt="" class="museum__image" />
            <h2 class="museum__name">Museu Cosme Damião</h2>
            <p class="museum__category">Museu de desporto</p>
           <a routerLink="/museum" class="btn btn-dark">Ver Museu</a>
        </div>
    </div>
</section>
